:root {
 --dark-bg-color: #333;
}

body {
 margin: 0;
 font-family: sans-serif;
 background-color: #f0f0f0;
 box-sizing: border-box;
}

button:hover {
 cursor: pointer;
}

nav div,
section {
 max-width: 1200px;
 margin: 0 auto;
 background-color: #dde;
 overflow: hidden;
}

nav {
 position: fixed;
 top: 0;
 margin: 0 auto;
 width: 100%;
 height: 4rem;
 z-index: 100;
 background-color: #fff;
 box-shadow: 1px 1px 10px #999;
}

nav>div {
 display: flex;
}

div.logo {
 width: 5rem;
 background-color: #f00;
}

nav ul {
 flex: 1;
 display: flex;
 justify-content: flex-end;
 padding-left: 0;
 list-style-type: none;
}

nav ul li a {
 display: block;
 min-width: 100px;
 text-decoration: none;
 padding: .5rem;
 text-transform: uppercase;
 text-align: center;
 color: #333;
 transition-duration: .5s;
}

nav ul li a:hover {
 color: #999;
}

section {
 min-height: calc(50vh);
 border-bottom: 1px solid #000;
 /* z-index: 50; */
 position: relative;
}

section.first {
 min-height: calc(100vh - 4rem);
 position: relative;
 /* top: 4rem; */
 margin-top: 4rem;
 background-color: #fff;
}

section.first div {
 position: absolute;
 left: 0;
 top: 0;
 right: 0;
 bottom: 0;
}

section.first div.up {
 z-index: 20;
 background-image: url(img/seal2.png);
 background-size: contain;
 background-repeat: no-repeat;
 /* position: relative; */
}

section.first div.up ul {
 margin-top: 20vh;
 width: 25rem;
 list-style-type: none;
}

section.first div.up ul li {
 font-size: 1.5rem;
 color: transparent;
 margin: 1.5rem 0;
 transition-duration: 1s;
}

section.first div.bottom {
 background: #000;
 z-index: 15;
 background-image: url(https://picsum.photos/1000/800);
 background-size: cover;
 background-repeat: no-repeat;
 /* animation: zoomin 4s linear; */
 transition-duration: 4s;
 /* transition: all 3s ease; */
}

@keyframes zoomin {
 0% {
  background-size: 100%;
 }

 100% {
  background-size: 102%;
 }
}

section.first div.bottom.scaled {
 transform: scale(1.05);
 /* background-size: 110%; */
}

section.first div.up ul li.show {
 color: #ddd;
}

/* 
section.first div.bottom {
 width: 100%;
 height: 100%;
} */
section.second {
 position: relative;
 display: flex;
 height: 55vh;
 z-index: 20;
}

div.logo_block {
 flex-basis: 300px;
 margin: 1rem;
 transition: all 1s ease;
 display: flex;
 align-items: center;

}

div.offer {
 font-family: 'Raleway', sans-serif;
 flex: 1;
 margin: 1rem;
 padding-left: 5rem;
 margin-left: 300px;
 transition: left 1s ease, opacity .5s .5s linear;
}

div.offer h3 {
 font-size: 4rem;
 text-transform: capitalize;
 line-height: 6rem;
}

div.offer h4 {
 font-size: 2rem;
 text-transform: capitalize;
 line-height: 3rem;
}

div.offer p {
 margin: 1rem 0;
}

div.offer button {
 width: 10rem;
 height: 3rem;
 margin: 1rem 0;
 border: 1px solid #ddd;
 background-color: #333;
 color: #ddd;
}

section.third {
 min-height: calc(100vh - 4em);
 text-transform: uppercase;
 display: flex;
 justify-content: center;
 align-items: center;
 background-image: url(https://picsum.photos/1000/800);
 background-size: cover;
 background-attachment: fixed;
 z-index: 20;
}

section.third>div {
 position: absolute;
 margin: 3rem auto;
 width: 60%;
 min-height: 5rem;
 border: 1px solid #777;
 background-color: #eee;
 display: flex;
 padding: 2rem;
 opacity: .9;
 transition: all 2s linear;
}

section.third div img {
 width: 200px;
}

section.third div .txt {
 flex: 1;
}

section.third div .txt button {
 width: 10rem;
 height: 3rem;
 margin: 1rem 0;
 border: 1px solid #ddd;
 background-color: #333;
 color: #ddd;
}

section.fourth {
 background-color: var(--dark-bg-color);
 z-index: 39;
 border-radius: 0.0001px
}

/* section.fourth div::before {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 300px;
 background-color: rgba(666, 66, 66, .2);
 filter: blur(3px);

} */

section.fourth::after {}

section.fourth div {
 position: absolute;
 left: 50%;
 top: 0;
 transform: translateX(-50%);
 /* backface-visibility: hidden; */
 /* text-align: center; */
 border: 2px solid #ddd;
 height: 70%;
 margin: 2rem 0;
 padding: 0 2rem;
 min-width: 30rem;
 background-color: rgba(66, 66, 66, .5);
 color: #ddd;
 overflow: hidden;
}

section.fourth div p {
 position: fixed;
 padding: 1rem;
 font-size: 2rem;
 left: 50%;
 transform: translateX(-50%);
 font-family: Arial, Helvetica, sans-serif;
 width: 100%;
}

section.fifth {
 min-height: calc(100vh - 4rem);
 z-index: 10;

 /* filter: grayscale(100%); */
}

section.fifth span {
 display: block;
 position: absolute;
 width: 100%;
 height: 100%;
 background-color: #fff;
 background-image: url(https://picsum.photos/900/300?image=981);
 background-size: cover;
 filter: grayscale(100%);
}

section.fifth div {
 /* position: absolute; */
 position: fixed;
 left: 50%;
 background-color: #eee;
 border: 2px solid #333;
 width: 30rem;
 min-height: 15rem;
 transform: translate(-50%, -50%);
 /* filter: grayscale(100%); */
 /* filter: drop-shadow(0px 0px 0px rgba(200, 200, 0, .8)); */
}

section.sixth {
 display: flex;
 justify-items: center;
 background-color: var(--dark-bg-color);
 z-index: 20;
}

section.sixth>div {
 flex: 1 0 30%;
 position: relative;
 height: 400px;
 align-items: stretch;
 border: 1px solid #ddd;
 margin: 1rem;
 background-image: url(https://picsum.photos/300/400);
 background-position: center;
 background-size: 100%;
 /* transform: scale(0.99); */
}

section.sixth>div::before {
 content: 'elo';
 display: none;
 position: absolute;
 width: 100%;
 height: 100%;
 top: 102%;
 left: 50%;
 color: #ff0;
 font-size: 2rem;
}

section.sixth div:hover::before {
 display: block;
}

section.sixth>div:nth-of-type(1):hover {
 background-size: 98%;
 filter: sepia(9);
 background-position: center;
 transform: scale(1.02);
 border-color: #333;
}

section.sixth>div:nth-of-type(2):hover {
 background-size: 103%;
 filter: none;
 background-position: center;
 transform: scale(1.01);
 border: 2px solid #ff0;
}

section.sixth>div:nth-of-type(3):hover {
 background-size: 100%;
 /* transform: scale(1.0); */
 border-color: #333;
 box-shadow: 2px 2px 5px 3px #ff0;
}

.overlay {
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 background-color: rgba(100, 100, 100, .6);
 overflow: hidden;
 width: 100%;
 height: 0;
 transition: 1s ease;
}

.overlay p {
 color: white;
 font-size: 20px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
 margin: 0;
}

section.sixth>div:nth-of-type(1):hover .overlay {
 height: 100%;
}

section.sixth>div:nth-of-type(2):hover .overlay {
 height: 50%;
}

section.sixth>div:nth-of-type(3) .overlay {
 position: relative;
 bottom: 0;
 left: 0;
 right: 0;
 width: 100%;
 height: 100%;
 background-color: transparent;
}

section.sixth>div:nth-of-type(3) .overlay p {
 position: absolute;
 padding-top: 100%;
 bottom: 0;
 left: -100%;
 right: 0;
 background-color: rgba(100, 100, 100, .6);
 width: 100%;
 height: 100%;
 transition: 1s ease;
}

section.sixth>div:nth-of-type(3):hover .overlay p {
 left: 50%;
}

section.seventh {
 display: flex;
 flex-wrap: wrap;
 min-height: 90vh;
 z-index: 20;
}

section.seventh div {
 flex-basis: 45%;
 flex: 1 0 50%;
}

section.seventh div:nth-of-type(1) {
 background-color: #ffa;
 background-image: url(https://picsum.photos/500);
 background-position: center;
 background-size: cover;
}

section.seventh div:nth-of-type(2) {
 background-color: #faa;
}

section.seventh div:nth-of-type(3) {
 background-color: #fdd;
}

section.seventh div:nth-of-type(4) {
 background-color: #ddf;
 background-image: url(https://picsum.photos/500);
 background-position: center;
 background-size: cover;
}

section.eighth {
 background-color: var(--dark-bg-color);
 z-index: 20;
}

div.carousel {
 position: relative;
 overflow: hidden;
 height: 250px;
}

ol.carousel-indicators {
 position: absolute;
 bottom: 30px;
 left: 50%;
 transform: translateX(-50%)
}

ol.carousel-indicators li {
 display: inline-block;
 background-color: #000;
 margin: 0 20px;
 width: 10px;
 height: 10px;
 border-radius: 50%;
 box-shadow: 0 0 0 5px white;
}

div.carousel-inner {
 margin: 0;
 padding: 0;
 height: 150px;
 background-color: #33f;
}

div.carousel-item {
 position: absolute;
 display: flex;
 margin: 0;
 padding: 0;
 width: 100%;
 height: 150px;
 left: 100%;
}

div.carousel-item a {
 flex: 1;
 display: block;
 text-align: center;
}

div.carousel-item.active {
 left: 0;
}

.carousel-control-prev,
.carousel-control-next {
 position: absolute;
 display: block;
 user-select: none;
 cursor: pointer;
 border: 1px solid #fff;
 top: 50%;
 width: 2rem;
 padding: .5rem;
}

.carousel-control-prev span:nth-of-type(2),
.carousel-control-next span:nth-of-type(2) {
 color: #eee;
 font-weight: bold;
 font-size: 1rem;
}

.carousel-control-prev {
 left: 0;
}

.carousel-control-next {
 right: 0;
}

footer {
 min-height: 20vh;
 background-color: var(--dark-bg-color);
 position: relative;
 z-index: 20;
}

footer div:nth-of-type(1) {
 display: flex;
}

footer div div {
 flex: 1;
 margin: 1rem;
 border: 1px solid #dfdfdf;
 min-height: 5rem;
}

hr {
 color: #333;
}

footer div:nth-last-of-type(1) {
 text-align: center;
}

footer div:nth-last-of-type(1) p {
 color: #dde;
}

/* JS CLASSES */

.transparent {
 opacity: .1 !important;
}

.nontransparent {
 opacity: .9;
}

.outed {
 position: absolute;
 left: 100%;
}

.nonouted {
 left: 0;
}

.pale {
 opacity: .5;
}

#centered {
 color: black;
 font-size: 30px;
}

.carousel-indicators li.active {
 box-shadow: 0 0 0 5px white, 0 0 3px 10px red;
}