main {
 background-color: #ffa;
 display: flex;
 flex-direction: column;
 width: 100%;
 min-height: 100vh;
}

main section {
 flex: 1;
 margin: 5px 10px;
 border: 1px solid #aaa;
 box-sizing: border-box;
}

section>h2 {
 background-color: #222;
 color: #ddd;
 font-family: Arial, Helvetica, sans-serif;
 margin: 0;
 padding-left: 2rem;
}

p {
 padding: 0.4rem;
}

@media (min-width: 768px) {
 main {
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
 }

 main section {
  border: none;
  background-color: #dd8;
  flex: 1;
  width: 50%;
  border: none;
 }

 main>div {
  display: flex;
  flex-wrap: wrap;
 }

 main>div>section {
  flex: 1;
  flex-basis: calc(50% - 20px);
 }

 .element07,
 .element10,
 .element11 {
  flex-basis: 100%;
 }
}

@media (min-width: 1024px) {
 main {
  /* firefox needs that */
  max-width: 1024px;
 }

 main>div {
  flex-direction: column;
 }

 .element02 {
  order: 4;
  flex: 3 0 100%;
  /* firefox needs that */
  height: 100%;
 }

 .element01,
 .element03,
 .element04 {
  flex: 1;
 }

 .element01 {
  order: 1;
 }

 .element03 {
  order: 2;
 }

 .element04 {
  order: 3;
 }

 main section {
  margin: 0;
 }

 section>h2 {
  background-color: rgba(50, 50, 50, 0.5);
  color: #ffe;
  padding: 5px 0 5px 3rem;
 }
}

@media (min-width: 1400px) {
 main {
  max-width: 1400px;
  /* firefox needs that */
  background-color: transparent;
 }

 main section {
  margin: 5px;
 }

 main section:hover {
  box-shadow: 2px 2px 3px rgba(120, 120, 120, 0.3);
 }

 .element01,
 .element03,
 .element04 {
  width: calc(50% - 10px);
 }

 .element02 {
  flex: 3 0 calc(100% - 10px);
  width: calc(50% - 10px);
 }

 section>h2 {
  background-color: rgba(80, 80, 80, 0.3);
  color: #661;
  padding: 8px 0 8px 3rem;
 }
}

/* SECTIONS COLORS */
/* .element01 {
 background-color: #dd6;
}

.element02 {
 background-color: #dd9;
}

.element03 {
 background-color: #ddc;
}

.element04 {
 background-color: #ddf;
}

.element05 {
 background-color: #de0;
}

.element06 {
 background-color: #de6;
}

.element07 {
 background-color: #de9;
}

.element08 {
 background-color: #dec;
}

.element09 {
 background-color: #def;
}

.element10 {
 background-color: #df0;
}

.element11 {
 background-color: #dfc;
} */